body {
  margin: 0;
  font-family: "Proza Libre", sans-serif;
  padding: 0;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.name-site {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  background: #3984f4;
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2, .price__val {
  background: #3984f4;
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price {
  display: flex;
  justify-items: end;
  border-top: 1px solid #dadada;
  padding-top: 2em;
}
.price__body {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}
.price__body-inner {
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media screen and (max-width: 950px) {
  .price {
    display: flex;
    justify-items: auto;
  }
  .price__body {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .price__body-inner {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}

